* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/*---THEMES OF DESIGN---*/

/*-- NAVIGATION--*/
nav {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.b-nav,
.b-nav:link,
.b-nav:visited {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #1d1a58;
  border: none;
  padding: 0 16px;
  cursor: pointer;
}

.b-nav:hover {
  color: #fff;
  text-shadow: 0 0 10px #a248d3, 0 0 10px #a248d3, 0 0 20px #a248d3,
    0 0 40px #a248d3;
}

.b-nav:active {
  color: #7022f8;
}

.left {
  display: flex;
  gap: 50px;
}

.left:first-child {
  padding-left: 40px;
}

.commts {
  padding-right: 60px;
}

/*--BODY--*/

header,
section,
nav,
.b-nav {
  background-color: #0d0101;
}

header h1,
header p {
  color: #dfd4ff;
}

header h1 {
  font-size: 52px;
  letter-spacing: 2.5px;
  word-spacing: 4px;
  padding-top: 32px;
}

header p {
  font-size: 24px;
  line-height: 1.5;
}

header {
  padding: 50px;

  display: flex;
  align-content: center;
  gap: 30px;
}

.wolf {
  height: 700px;
  width: auto;
}

/*CONTENT*/

.btns {
  display: flex;
  justify-content: space-evenly;
  padding: 180px;
}

.btn-movie,
.btn-movie:link,
.btn-movie:visited,
.btn-serie:link,
.btn-serie:visited,
.btn-serie {
  border-radius: 5px;
  border: none;
  color: #060000;
  font-size: 41px;
  font-weight: 600;
  padding: 16px 45px;
  text-decoration: none;
  background: #12103a;
  box-shadow: 0px 0px 30px rgb(78, 31, 84), 0px 0px 60px rgb(100, 42, 105);
}

.btn-movie:hover,
.btn-serie:hover {
  color: #fff;
  background: #1d1a58;
  box-shadow: 0 0 10px #5c028c, 0 0 10px #65188f, 0 0 80px #a248d3,
    0 0 90px #580983;
  cursor: pointer;
}

.btn-movie:active,
.btn-serie:active {
  color: #e322f8;
}

/*FOOTER
  background-color: #110808;
  social-icon color: #1d1a58;
  social-icon:active color: #1c1917;
  text color: #515151
  */

footer {
  background-color: #060000;
}

.flex-container {
  display: flex;
  gap: 145px;
}

.mark-personal {
  width: auto;
  height: 400px;
  padding-left: 175px;
}

.contact {
  display: grid;
  grid-template-rows: auto auto;
  padding: 167px 0 0 0;
  justify-content: center;
}

.social-media {
  font-weight: 500;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.social-icon,
.social-icon:link,
.social-icon:visited {
  color: #1d1a58;
  font-size: 50px;
}

.social-icon:hover {
  text-shadow: 0px 3px 10px #e3dbf6, 0 0 20px #e3dbf6;
}

.social-icon:active {
  color: #7022f8;
}

.docs {
  width: 495px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.doc:link,
.doc:visited {
  font-size: 20px;
  font-style: italic;
  color: #515151;
  font-weight: 500;
  text-decoration: none;
}

.doc:hover,
.doc:active {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #7022f8;
}

.copy-trisquel {
  text-align: center;
}

.copyright {
  word-spacing: 3px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #44403c;
}

.trisquel {
  width: auto;
  height: 59px;
  margin: 10px 10px 15px 10px;
}
